{% extends 'task_app/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h2>Log in to your account.</h2>
{% endblock page_header %}

{% block content %}
	<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-outline-primary">Log in</button>

  <input type="hidden" name="next"
         value="{% url 'task_app:all_tasks' %}">
  </form>

  <hr>
  <div style="text-align: center">
  <p>Don't have an account?</p>
  <a href="{% url 'users:register' %}"><button class="btn btn-success">Sign up</button></a>
  </div>
{% endblock %}